backend/app/__pycache__/*
backend/app/controllers/__pycache__/*
backend/app/modules/__pycache__/*
backend/app/static/__pycache__/*
backend/views/__pycache__/*
backend/__pycache__/*
*.py[cod]
backend/app/testing/
backend/app/uploaded_files/