<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

    <title>main</title>
</head>


<body class="bg-dracula text-dracula">
    <nav class="navbar nav-bg-dark justify-content-center mx-auto mt-5 rounded" style="width: 65%;">
        <div class="container-fluid justify-content-center">
            <form id="nav-bar" class="d-flex">
                <button type="button" id="back_button" class="btn-outline-dracula btn-sm me-3 rounded-3" style="visibility: hidden;"><img style="width: 1.9em;position: relative;right: 2px;" src="{{ url_for('static', filename='img/back_button.png') }}" alt=""></button>
                <input class="form-control me-3 input-dracula rounded-3 w-80" type="search" placeholder="Buscar..." aria-label="Search">
                <button class="btn-outline-dracula btn-sm text-dracula rounded-3" type="submit"><img src="{{ url_for('static', filename='img/search.png') }}" alt=""></button>
            </form>
        </div>
    </nav>

    <div class="container mt-5">
        <div id="files_body" class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-4 justify-content-left">

        </div>
    </div>
    

</body>


<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/filesManager.js') }}"></script>


</html>